div.container {
 width: 420px;
 height: 420px;
 margin: 0px auto;
}

div.grid {
 width: 190px;
 height: 190px;
 margin: 5px;
 line-height: 190px;
 box-shadow: 5px 5px 5px gray;
 font-size: 20px;
 display: inline-block;
}